<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2>Reset Password</h2>
      <form action="/password" method="post">
        <% if(dataLogin && dataLogin.some(error => error.param ===
        'is_verified')) { %>
        <div class="danger">
          <%= dataLogin.find(error => error.param === 'is_verified').msg %>
        </div>
        <% } %>
        <div class="input-box">
          <input
            type="text"
            class="form-control p_input"
            name="email"
            placeholder="Email"
          />

          <% if(dataLogin && dataLogin.some(error => error.param === 'email' ))
          { %>
          <div class="danger">
            <%= dataLogin.find(error => error.param === 'email').msg %>
          </div>
          <% } %>
        </div>

        <div class="input-box button">
          <input type="Submit" value="Send OTP" />
        </div>
        <div class="text">
          <h3>Don't have an account? <a href="/">SignUp now</a></h3>
        </div>
      </form>
    </div>
  </body>
</html>
